$body-bg:                       none;

//brand colors
$brand-primary:                 #f26823 !default;
$razzmatazz:                    #f5286e !default;

//type
$headings-font-family:          'Patua One', serif !default;
$font-family-base:               'Quicksand', sans-serif !default;;

//articles
$article-bg-color:               rgba(57, 149, 192, 0.7);
$article-text-color:             #ffffff;
$article-title-bg-color:         rgba(0,0,0,0.5);

//hero
$hero-height-sm:                100vh;
$hero-bg:                       rgba(0, 0, 0, 1);
$hero-color:                    #ffffff;
$hero-title-font-size:          88px;

//Fonts
$font-size-h1:                  72px;

