$body-bg:                       none;

//brand colors
$brand-primary:                 #f26823 !default;
$razzmatazz:                    #f5286e !default;

//type
$headings-font-family:          'Patua One', serif !default;
$font-family-base:               'Quicksand', sans-serif !default;;

//articles
$article-bg-color:               rgba(57, 149, 192, 0.7);
$article-text-color:             #ffffff;
$article-title-bg-color:         rgba(0,0,0,0.5);

//hero
$hero-height-sm:                100vh;
$hero-bg:                       #122043;
$hero-color:                    #ffffff;
$hero-title-font-size:          88px;

//work desk
$work-desk-theme-bg-color:      rgba(255,255,255,0.05);
$desk-art-color:                #243a7b;
$desk-furniture-color:          #12b4bb;
$calculator-bg-color:           #87ccc9;
$desk-item-box-shadow:          0px 0px 4px 1px rgba(0, 0, 0, .4);

//Fonts
$font-size-h1:                  72px;

