@import "variables";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/close";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";

@import "tetris";

body {
    padding: 0;
    margin: 0;
  background-color: #000;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$strokeColor: #B8B8B8;
$heartColor: #E21737;
$size: 180px; // change this to manipulate overall size
$totalAnim: 7s;
$delay: 1s;
$squareLen: 240;
$circleLen: 188.522;
$heartLen: 308.522;
$svgSize: 90px;
$circleW: 60px;

.box {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: visible;
  align-items: center;
  justify-content: center;
  text-align: center;
}